 @charset "utf-8";
/* CSS Document */

 

a{
	color: #ccd500;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #a9b119;
}
.clear {
    clear: both;
}
html {
    position: relative;
    min-height: 100%;
}
.bodyDark {
	background: url('https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/got_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bodyLight {
	background: url('https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/got_bg_bright.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: black;
}
b{
	font-weight: 600;
}


/* Titulos
-------------------------------------------------------------------------*/
h1{
	width: 100%;
	color: #FBD950;
	font-size: 40px;
	margin-bottom: 25px;
}
h2{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}
h2 span{
	font-weight: 400;
}
h3{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	color: white;
	font-size:40px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 300;
}
h4{
	color: #ffffff;
    display: table-cell;
    float: left;
    font-size: 35px;
    line-height: 31px;
    margin: 0 0 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

p.title{
	color: #000000;
    display: table-cell;
    float: left;
    font-size: 45px;
    line-height: 40px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.grey {	color:#444;}

/* INICIO
-------------------------------------------------------------------------*/
#header{
	margin: 0 auto 0;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 0px;
	background-color: #6C5726;
	overflow: hidden;
	position: relative;
	padding: 50px 0px;
    border-top: 10px solid #A48E4E;
    border-bottom: 10px solid #A48E4E;
}
#header table, #footer table{
	height: 100%;
	width: 100%;
}
#header table td, #footer table td{
	vertical-align: middle;
}
#header .content{
	color: #FFFFFF;
    float: left;
    font-size: 50px;
    font-weight: 300;
    line-height: 42px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
#header .content, #footer .content{
	font-family: 'Pathway Gothic One';
	color: #ffffff;
    float: left;
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    padding: 30px 0px;
}
#header .content > div, #footer .content > div{
	display: inline-block;
}

#footer{
	width:100%;
	background-color: #6C5726;
	border-top: 20px dotted #A48E4E;
	height: 200px;
}


.line{
	background-color: #DCD293;
	padding: 50px 0px 25px 0px;
	width:100%;
	border-top: 20px dotted #A48E4E;
}



.machineContainer{
	background-color: #FCA93C;
	padding: 5px 1px 5px 1px;
	overflow: hidden;
	height: 135px;
}
.slotMachine{
	width: 32.333333%;
	border: 5px solid #000;
	height: 100px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	/*margin: 0px 5px;*/
	/*border: 5px solid #000;*/
	 
}
.mybroder{
	border-width: 20px;
	border-image: url('https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/double_line.png') 27 27 27 27 stretch round;;
}
.machineResult{
	color:#fff;
	text-align:center;
	font-weight: 900;
}
.noBorder{
	border:none !important;
	background: transparent !important;
}
.slotMachine .slot{
	height:100px;
	background-position-x: 55%;
	background-repeat: no-repeat;
}
.mike{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/MIKE.png");
}
.praful{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/PRAFUL.png");
}
.dan{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/DAN.png");
}
.ruben{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/RUBEN.png");
}
.neil{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/NEIL.png");
}
.mark{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/MARK.png");
}
.peter{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/PETER.png");
}
.san{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/SANKARA.png");
}
.akos{
	background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/AKOS.png");
}
.web_dialog_overlay
{
  
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}
.web_dialog
{
   background-repeat: no-repeat;
   background-size: 400px 350px;
   background-image: url("https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/throne.jpg");
    position: fixed;
   width: 380px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
   color:#438014;
   display:none;
}
.web_dialog_title
{
   border-bottom: solid 2px #336699;
   background-color: #336699;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a
{
   color: Red;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}




#textMachine, #textMachine2{
	width:520px;
	height: 67px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
#textMachine > *, #textMachine2 > *{
	padding: 0px 0px;
}



 

#slotMachineButton1 {        
	background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 66px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    display: inline-block;
    white-space: nowrap;
     background-image:  url(https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/got4_button.png);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
     
    height:135px;
    width:175px;
}

#slotMachineButton1:hover {
background-image: url('https://s3-eu-west-1.amazonaws.com/com.prafulthakare.pub/img/got4_button_ho.png');
}
 

 

#slotMachineButton1:focus {
   outline: none;
   
}    

audio { 
   display:none;
}

